<div class="header-box">
    <div class="logo-box">
        <div class="logo-img">
            <div class="logo-text">{{localize "AKREL.SystemName"}}</div>
        </div>

        <div class="char-info-box">
            <input class="big-input-text" type="text" name="name" value="{{actor.name}}">
            <div class="lvl-box">
                <div class="lvl-lable">{{localize "AKREL.System.lvl"}}</div>
                <div class="lvl-value">{{system.experience.level}}</div>
            </div>
        </div>
    </div>
</div>
<h1>bonjour</h1>